* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  margin-top: 15px;
}

header {
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  font-size: 16px;
}

.high-scores {
  width: 100%;
  padding-left: 12px;
  color: #4d3874;
  font-weight: bolder;
}

.time {
  width: fit-content;
  padding-right: 3px;
}

.timer-text {
  width: fit-content;
}

h1 {
  font-size: 42px;
  text-align: center;
  color: black;
  font-weight: bolder;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.quiz-questions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


p {

  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-left: 28%;
  margin-right: 28%;
  margin-bottom: 40px;
}



button {
  padding: 5px;
  margin: 2px;
  width: fit-content;
  font-size: 20px;
  color: white;
  background-color: #4d3874;
  border-radius: 6px;
}


button:hover {
    opacity: 70%;
}

.theQuestion {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  height: fit-content;
  width: 600px;
}

.theAnswers {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  width: 600px;
  margin-top: 15px;
  margin-left: 10em;
  margin-right: 10em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}




